<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：命名空间，用于隔离sql -->
<mapper namespace="com.jupiter.mybatis.mapper.DBUnitMapper">
	<select id="checkJobnameByInput" parameterType="String" resultType="String">
		select distinct lower(trim(jobname))jobname from etl_jobino where lower(trim(jobname)) in(${txt})
	</select>
	<select id="selectTop10" resultType="com.jupiter.mybatis.po.EtlJobIno">
		select * from etl_jobino fetch first 10 rows only
	</select>
	
	<select id="isVersionUseable" parameterType="double" resultType="String">
		select useable from dbo.Jobio_Version where version = #{version}
	</select>
	
	<select id="getLastVersion" resultType="double">
		select max(version)version from dbo.Jobio_Version
	</select>
	
	<select id="getLoginStatus" parameterType="String" resultType="int">
		select count(1) as loginStatus from dbo.Jobio_User where UserName = #{username} and Password = #{password}
	</select>

</mapper>